In [8]:
from helper import *
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame()

In [4]:
df_APPLE = pd.read_csv("../raw/APPLE.csv")
df_IBM = pd.read_csv("../raw/IBM.csv")
df_INTC = pd.read_csv("../raw/INTC.csv")
df_MSFT = pd.read_csv("../raw/MSFT.csv")
df_QCOM = pd.read_csv("../raw/QCOM.csv")
df_SPY = pd.read_csv("../raw/SPY.csv")
df_TXN = pd.read_csv("../raw/TXN.csv")

In [9]:
df_dict = {
    'APPLE': df_APPLE,
    'IBM': df_IBM,
    'INTC': df_INTC,
    'MSFT': df_MSFT,
    'QCOM': df_QCOM,
    'SPY': df_SPY,
    'TXN': df_TXN
}

In [10]:
for ticker, df in df_dict.items():
    df[f'pct_change_{ticker}'] = (df['Close'] - df['Close'].shift(1)) / df['Close'].shift(1)
    df[f'log_change_{ticker}'] = np.log(df['Close'] / df['Close'].shift(1))

In [12]:
for ticker, df in df_dict.items():
    df[f'7ma_{ticker}'] = EMA(df['Close'], 7)
    df[f'14ma_{ticker}'] = EMA(df['Close'], 14)
    df[f'21ma_{ticker}'] = EMA(df['Close'], 21)
    
    df[f'7macd_{ticker}'] = MACD(df['Close'], 3, 11, 7)
    df[f'14macd_{ticker}'] = MACD(df['Close'], 7, 21, 14)
    
    df[f'7rsi_{ticker}'] = RSI(df['Close'], 7)
    df[f'14rsi_{ticker}'] = RSI(df['Close'], 14)
    df[f'21rsi_{ticker}'] = RSI(df['Close'], 21)
    
    df[f'7atr_{ticker}'] = atr(df['High'], df['Low'], 7)
    df[f'14atr_{ticker}'] = atr(df['High'], df['Low'], 14)
    df[f'21atr_{ticker}'] = atr(df['High'], df['Low'], 21)
    
    df[f'7upper_{ticker}'], df[f'7lower_{ticker}'] = bollinger_band(df['Close'], 7)
    df[f'14upper_{ticker}'], df[f'14lower_{ticker}'] = bollinger_band(df['Close'], 14)
    df[f'21upper_{ticker}'], df[f'21lower_{ticker}'] = bollinger_band(df['Close'], 21)
    
    df[f'7rsv_{ticker}'] = rsv(df['Close'], 7)
    df[f'14rsv_{ticker}'] = rsv(df['Close'], 14)
    df[f'21rsv_{ticker}'] = rsv(df['Close'], 21)

In [13]:
df_APPLE.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,pct_change_APPLE,log_change_APPLE,...,21atr_APPLE,7upper_APPLE,7lower_APPLE,14upper_APPLE,14lower_APPLE,21upper_APPLE,21lower_APPLE,7rsv_APPLE,14rsv_APPLE,21rsv_APPLE
0,1980-12-12 00:00:00-05:00,0.098834,0.099264,0.098834,0.098834,469033600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-12-15 00:00:00-05:00,0.094108,0.094108,0.093678,0.093678,175884800,0.0,0.0,-0.052170,-0.053581,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1980-12-16 00:00:00-05:00,0.087232,0.087232,0.086802,0.086802,105728000,0.0,0.0,-0.073398,-0.076231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1980-12-17 00:00:00-05:00,0.088951,0.089381,0.088951,0.088951,86441600,0.0,0.0,0.024751,0.024450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1980-12-18 00:00:00-05:00,0.091530,0.091959,0.091530,0.091530,73449600,0.0,0.0,0.028992,0.028580,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
for ticker, df in df_dict.items():
    fft_result = np.fft.fft(df['Close'])
    

    df[f'fft_real_{ticker}'] = fft_result.real
    df[f'fft_imag_{ticker}'] = fft_result.imag
    

    df[f'fft_magnitude_{ticker}'] = np.abs(fft_result)
    df[f'fft_phase_{ticker}'] = np.angle(fft_result)

In [16]:
df_APPLE.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,pct_change_APPLE,log_change_APPLE,...,14lower_APPLE,21upper_APPLE,21lower_APPLE,7rsv_APPLE,14rsv_APPLE,21rsv_APPLE,fft_real_APPLE,fft_imag_APPLE,fft_magnitude_APPLE,fft_phase_APPLE
0,1980-12-12 00:00:00-05:00,0.098834,0.099264,0.098834,0.098834,469033600,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,257243.554944,5.428547e-12,257243.554944,2.110275e-17
1,1980-12-15 00:00:00-05:00,0.094108,0.094108,0.093678,0.093678,175884800,0.0,0.0,-0.052170,-0.053581,...,NaN,NaN,NaN,NaN,NaN,NaN,194131.180840,1.116709e+05,223958.246644,5.220101e-01
2,1980-12-16 00:00:00-05:00,0.087232,0.087232,0.086802,0.086802,105728000,0.0,0.0,-0.073398,-0.076231,...,NaN,NaN,NaN,NaN,NaN,NaN,110370.376196,1.282960e+05,169237.930537,8.603648e-01
3,1980-12-17 00:00:00-05:00,0.088951,0.089381,0.088951,0.088951,86441600,0.0,0.0,0.024751,0.024450,...,NaN,NaN,NaN,NaN,NaN,NaN,68729.823791,1.174397e+05,136073.007673,1.041304e+00
4,1980-12-18 00:00:00-05:00,0.091530,0.091959,0.091530,0.091530,73449600,0.0,0.0,0.028992,0.028580,...,NaN,NaN,NaN,NaN,NaN,NaN,37856.051184,1.085167e+05,114930.259340,1.235146e+00

In [17]:
for ticker, df in df_dict.items():
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)

df_train_dict = {}


common_dates = pd.Index(df_dict['APPLE'].index)  
for ticker, df in df_dict.items():
    common_dates = common_dates.intersection(df.index)


for ticker, df in df_dict.items():

    df_filtered = df.loc[common_dates]


    df_features = df_filtered.copy()


    for other_ticker, other_df in df_dict.items():
        if other_ticker != ticker:  
            df_features[f'{other_ticker}_close'] = other_df.loc[common_dates, 'Close']

    df_features['target'] = df_features['Close'].shift(-1)  


    df_features.dropna(inplace=True)


    df_train_dict[ticker] = df_features

/tmp/ipykernel_42178/2914746648.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['Date'] = pd.to_datetime(df['Date'])
/tmp/ipykernel_42178/2914746648.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['Date'] = pd.to_datetime(df['Date'])
/tmp/ipykernel_42178/2914746648.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['Date'] = pd.to_datetime(df['Date'])
/tmp/ipykernel_42178/2914746648.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['Date'] = pd.to_datetime(df['Date'])
/tmp/ipykernel_42178/2914746648.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['Date'] = pd.to_datetime(df['Date'])
/tmp/ipykernel_42178/2914746648.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['Date'] = pd.to_datetime(df['Date'])
/tmp/ipykernel_42178/2914746648.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['Date'] = pd.to_datetime(df['Date'])

In [33]:
df_train_apple = df_train_dict['APPLE']
df_train_apple.to_csv("../processed/apple.csv")

In [34]:
df_train_ibm = df_train_dict['IBM']
df_train_ibm.to_csv("../processed/ibm.csv")

In [35]:
df_train_intel= df_train_dict['INTC']
df_train_intel.to_csv("../processed/intel.csv")

In [36]:
df_train_microsoft = df_train_dict['MSFT']
df_train_microsoft.to_csv("../processed/microsoft.csv")

In [37]:
df_train_qualcomm = df_train_dict['QCOM']
df_train_qualcomm.to_csv("../processed/qualcomm.csv")

In [38]:
df_train_Texas_Instruments = df_train_dict['TXN']
df_train_Texas_Instruments.to_csv("../processed/txn.csv")